<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="PixelTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1"/>
		<httpRuntime targetFramework="4.6.1"/>
	</system.web>
	<system.webServer>
		<modules>
			<add name="PixelTracker" type="PixelTracker.PixelTrackerModule" />
		</modules>
	</system.webServer>
	<applicationSettings>
		<PixelTracker.Properties.Settings>
			<setting name="TrackerLogFile" serializeAs="String">
				<value>C:\path\tracker-log.csv</value>
			</setting>
			<setting name="SkipParams" serializeAs="String">
				<value>asdf,ghjk</value>
			</setting>
			<setting name="FileSizeLimitMB" serializeAs="String">
				<value>32</value>
			</setting>
		</PixelTracker.Properties.Settings>
	</applicationSettings>
</configuration>
